header {  
    height: 150px;
    background: #CBC1B1;
    width: 100%;
    margin: 0;
    position: sticky;

    .header-flex {
        display: flex;
        justify-content: space-around;
        
        #burger {
            display: none;
        }
    }

    .nav{
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        gap: 15px;
    }
    #h2-text{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: black;
    }
}
body {
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    margin: 15%;
    
    .flex {
        display: flex;
        gap: 35px;
        
        h2 {
            font-family: 'Lato';
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }
    }
    
    #flex-1 {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    #flex-2 {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    #flex-3 {
        grid-row-start: 1;
        grid-column-start: 3;
    }
    #flex-4 {
        grid-row-start: 2;
        grid-column-start: 1;
    }
    #flex-5 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    #flex-6 {
        grid-row-start: 2;
        grid-column-start: 3;
    }
}

.grid-end {
    height: 150px;
    background: #CBC1B1;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 10px;
    align-content: center;

    
    #h2-1 {
        grid-column-start: 2;
        grid-row-start: 2;
        text-align: center;
        font-size: 12px;
    }
    #h2-2 {
        grid-column-start: 2;
        grid-row-start: 3;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 620px) {

    header {  
        height: 80px;
        background: #CBC1B1;
        width: 100%;
        margin: 0;
        position: sticky;

        #logo {
            height: 80px;
        }
    
        .header-flex {
            display: flex;
            justify-content: space-between;
            margin-right: 40px;
            margin-left: 40px;

            a {
                display: none;
            }
            #burger {
                display: block;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px;
        justify-content: center;
        align-items: center;
        margin: 25% 15%;
        flex-wrap: nowrap;
        width: 300px;


        .flex {
            display: flex;
            gap: 25px;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;

            img {
                width: 50px;
                height: 49.82px;
            }
        }
        
        #flex-1 {
            grid-row-start: 1;
            grid-column-start: 1;
        }
        #flex-2 {
            grid-row-start: 2;
            grid-column-start: 1;
        }
        #flex-3 {
            grid-row-start: 3;
            grid-column-start: 1;
        }
        #flex-4 {
            grid-row-start: 4;
            grid-column-start: 1;
        }
        #flex-5 {
            grid-row-start: 5;
            grid-column-start: 1;
        }
        #flex-6 {
            grid-row-start: 6;
            grid-column-start: 1;
        }
    }
    
    .grid-end {
        height: 80px;
        background: #CBC1B1;
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 4px;
        align-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
    
        #h2-1 {
            grid-column-start: 1;
            grid-row-start: 2;
            text-align: center;
            font-size: 12px;
        }
        #h2-2 {
            grid-column-start: 1;
            grid-row-start: 3;
            text-align: center;
            font-size: 12px;

        }
    }

}
