header {
  height: 150px;
  background: #CBC1B1;
  width: 100%;
  margin: 0;
  position: sticky;
}
header .header-flex {
  display: flex;
  justify-content: space-around;
}
header .header-flex #burger {
  display: none;
}
header .nav {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  gap: 15px;
}
header #h2-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

.flex-img {
  display: flex;
  background-image: url(hero\ image.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  justify-content: end;
  align-items: end;
}
.flex-img .inside-flex {
  display: flex;
  background-color: rgba(124, 116, 116, 0.3);
  z-index: 2;
  width: 40vw;
  height: 40vh;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.flex-img h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #F8F7EC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.1em;
}
.flex-img h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #F8F7EC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flex-img a {
  text-decoration: none;
  color: black;
  background-color: rgb(203, 193, 177);
  padding: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #F8F7EC;
}

#nadpis {
  margin-top: 100px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.grid-dovolena {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 10%;
}
.grid-dovolena h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.grid-dovolena p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.grid-end {
  height: 150px;
  background: #CBC1B1;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  align-content: center;
}
.grid-end #h2-1 {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  font-size: 12px;
}
.grid-end #h2-2 {
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-width: 620px) {
  header {
    height: 80px;
    background: #CBC1B1;
    width: 100%;
    margin: 0;
    position: sticky;
  }
  header #logo {
    height: 80px;
  }
  header .header-flex {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
  }
  header .header-flex a {
    display: none;
  }
  header .header-flex #burger {
    display: block;
  }
  .flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    height: 60vh;
    margin: 10px;
  }
  .flex-img .inside-flex {
    background: #7C7474;
    gap: 15px;
  }
  .flex-img h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F8F7EC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1em;
  }
  .flex-img h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #F8F7EC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .flex-img a {
    text-decoration: none;
    color: black;
    background-color: rgb(203, 193, 177);
    padding: 15px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #F8F7EC;
  }
  #nadpis {
    margin-top: 100px;
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
  }
  .grid-dovolena {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin: 10%;
    margin-bottom: 80px;
  }
  .grid-dovolena #item-2 {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  .grid-dovolena #item-3 {
    grid-column-start: 1;
    grid-row-start: 7;
  }
  .grid-dovolena #item-4 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .grid-dovolena #item-5 {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .grid-dovolena #item-6 {
    grid-column-start: 1;
    grid-row-start: 8;
  }
  .grid-dovolena #item-7 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .grid-dovolena #item-8 {
    grid-column-start: 1;
    grid-row-start: 6;
  }
  .grid-dovolena #item-9 {
    grid-column-start: 1;
    grid-row-start: 9;
  }
  .grid-dovolena h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .grid-dovolena p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .grid-end {
    height: 80px;
    background: #CBC1B1;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 4px;
    align-content: center;
    align-items: center;
  }
  .grid-end #h2-1 {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
    font-size: 12px;
  }
  .grid-end #h2-2 {
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: center;
    font-size: 12px;
  }
}/*# sourceMappingURL=home.css.map */