:root{
    --orange: #ff6600;
    --blue: #1b7ced;
    --green: #4caf50;
}
h1{
    width: bold;
    font-size: 30px;
    color: var(--orange);
    margin-left: 100px;
}
p{
    width: normal;
    font-size: 16px;
    color: var(--blue);
    max-width: 300px;
    margin-left: 100px;
}
h2{
    width: 600;
    font-size: 25px;
    color: var(--green);
}